PORT=3000
DATABASE_URL="postgresql://user:pass@localhost:5432/mydb?schema=public"
JWT_SECRET="una_clave_muy_segura_y_larga"
AES_KEY="32_characters_long_key_for_aes_256" # Para cifrar datos sensibles
REDIS_URL="redis://default:tu_password@localhost:6379"